extends layout

block content
	.stories
		each story in stories
			include common/story
	.pagenation
		ul
			if page.previous
				li: a(href=page.previous) Prev
			else
				li.disabled: a Prev
			if page.next
				li: a(href=page.next) Next
				li.disabled: a Next

